.container {
  text-align: center;
  max-width: 600px;
  margin: 60px auto
}
form {
  margin: 60px auto;
}
label {
  margin-right: 20px;
}
input {
  padding: 10px;
  border: 1px solid;
}
.submit {
  padding: 8px 12px;
  margin-left: 20px;
}
.keypad {
  border: 1px solid;
  display: grid;
  grid-template-columns: repeat(3, 33.34% [col-start]);
}
.keypad button {
  padding: 10px;
}
